
/* Contact (BEV) */

html {
    scroll-behavior: smooth;

}

#news {
    margin: 0;
    overflow-x: hidden;
    padding-top: 30px;
    padding: 50px;
}

#news .news-title{
    color: black;
    font-size: 50px;
    font-weight: bolder; 
    text-align: center;
}

#news .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #F7FDFF;
}

#news a:hover {
    color: #00AEEF;
}

#news a {
    color: #EC008C;
    font-weight: 400;
    text-decoration: none;
}


#news table {
    padding: 100px;
}

#news td {
    padding: 15px;
    border-bottom: 2px solid gray;
}

#news th {
    font-size: 18px;
    color: #00AEEF;
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    font-weight: 500;
}

#contact {
    margin: 0;
    overflow-x: hidden;
    padding-top: 30px;
}

#contact .form-control{
    border-radius: 10;
    border:1px solid #cecece;
}

#contact .row{
    margin-bottom: 0px;
}

#contact .col-maps {
    padding: 30px 30px 30px 0px;
}

#contact .contact-addr {
    color: #000000;
    font-size: 22px;
}

#contact .form-title {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}


#contact .form-group button {
    background-color: #00AEEF;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact .form-group{
    align-content: right;
}

@media (min-width: 992px) {
    #contact{padding-bottom: 50px;}

    /* start of contact section */

  
     #contact .maps iframe{
       width: 100%;
       height: 700px;
     }

    /* end of contact section */

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    #news table th {
        font-size: 18px;
        color: #00AEEF;
        border-bottom: 2px solid white;
    }

    #news tbody td {
        font-size: 10px;
    }
      
  #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    
    #contact .maps {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
    }

    #contact .form-group{
        align-content: center;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact .form-group button:hover {
        color: rgba(255,255,255, 0.6);
    }

    /* #contact .form .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0 0;
    } */

    /* end of contact section */


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    #news table th {    
        display: table;  width:100%;  
        text-align: left;
    }              

    #news table td {    
        display: table; width:100%;  
        text-align: left;
        border-top: 0px solid white;
        border-bottom: 0px solid white;
        /* border-bottom: 2px solid gray; */
    }    
    
    #news table .read-more {
        text-align: right;
        border-bottom: 1px solid gray;

    }

    #news td {
        padding: 15px;

    }
    
    #news table th {
        font-size: 18px;
        color: #00AEEF;
        text-transform: uppercase;
        border-bottom: 0px solid white;
        font-weight: 500;
    }


    /* start of contact section */

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .contact-title .contact-addr{
        font-size: 18px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    #contact .form-title {
        font-size: 40px;
    }

    #contact .form-group button {
        background-color: #00AEEF;
        color: white;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 100px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* end of contact section */

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
           

    #news td {
        padding: 15px;

    }
    
    #news table th {
        font-size: 18px;
        color: #00AEEF;
        text-transform: uppercase;
        border-bottom: 2px solid gray;
        font-weight: 500;
    }


    /* start of contact section */

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: 700px;
        margin-bottom: 0px;
    }

    #contact .contact-title{
        text-align: center;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #contact .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    /* start of contact section */
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    /* start of contact section */

    #contact{
        padding-bottom: 50px;
        padding-top: 30px;
    }

    #contact .maps .maprouter .gmap_canvas{
        width: auto;
        height: 500px;
        margin-bottom: 0px;
    }

    /* end of contact section */

 }

 /* Footer (BEV) */
footer {
    background-color: #00AEEF;
    padding: 10px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

footer .footer-copyright {
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
}

footer h6 a{
    color: #ffffff;
}

footer h6 a:hover{
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
    text-decoration: none;
}