/* Works Grid (NAYTHAN) */
.grid{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: flex-end;
   align-content: stretch;

   background-color: yellow;
    background-repeat: no-repeat; 
   background-size: cover; 
   background-image: url("../images/works/7-01.png");
   background-repeat: no-repeat;
   background-size: 1920px auto;
   width: 100%;
   height: auto;
}

.cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;


   background-image: url("../images/works/6.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center top;
   width: 100%;
   max-width: 600px;
   height: auto;
   border-radius: 50px;
   margin: 100px;
   padding: 70px 0px 0px 0px;
}

.content{
 
   width: 100%;
   border-radius: 50px;
   text-align: center;
}

.content h2{
   font-size: 28px;
   font-weight: bold;
   line-height: 2;
   font-family: 'Karla', sans-serif;
}

.content h3{
   font-size: 20px;
   font-family: 'Karla', sans-serif;
}

.grid .cont .content img {
 width: 100%;  
 border-top-left-radius: 50px;
 border-top-right-radius: 50px;
}


@media (max-width: 575.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: orange;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

     /* .grid .cont .content img {
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
       } */

    
       
 }
@media (max-width: 767.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }
/* 
     .grid .cont .content img {
        width: 90%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */

 }
@media (max-width: 991.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }
/* 
     .grid .cont .content img {
        width: 75%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */

 }
@media (max-width: 1199.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

     /* .grid .cont .content img {
        width: 50%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */
 }