*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}
/* navigation (KEVIN)*/
.top-nav{
    position: fixed;
    top: 100;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

.top-nav .navbar {
    height: 114px;
    position: relative;
  }
  
  .top-nav .navbar .navbar-brand .nav-logo {
    width: 300px;
    height: 114px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px 0px 9px 16px;
  }
  
  .top-nav .navbar .collapse .navbar-nav {
    position: absolute;
    right: 0px;
    padding: 0px 31px 0px 0px;
  }
  
  .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #707070;
    font-size: 21px;
    padding: 0px 65px 0px 0px;
    text-align: center;
  }
  a.nav-link{
    position: relative;
  }

  a.nav-link:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00AEEF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  a.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
/* main visual (KEVIN)*/
.main-visual {
    padding: 100px 0px 0px 0px;
}
.main-visual .masthead {
    height: 700px;
    background-image: url(../images/main_visual/intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .main-visual .masthead .container .row {
    position: absolute;
    text-align-last: start;
    padding: 0px;
    margin: 0px;
    top: -30px;
    left: 71px;
  }
  
  .main-visual .masthead .container .row .header-h1 {
    font-weight: bolder;
    font-size: 60px;
    line-height: 90%;
  }
  
  .main-visual .masthead .container .row .lead {
    font-weight: bolder;
    font-size: 21px;
    line-height: 90%;
  }

/* news */


/* vision (JUNE) */
.vision{
    height: 700px;
    background-color:white;
    z-index: -2;
    font-family: 'Karla', sans-serif;
}
.vision_main{
    position: relative;
}
.vision_img_1{
    position: absolute;
    top: 150px;
    z-index: 1;
}
.vision_card{
    width: 801px;
    height: 395px;
    background-color: #00AEEF;
    position: absolute;
    top: 226px;
    left: 65px;
}
.vision_img_2{
    position: absolute;
    left: 801px;
    top: 154px;
}
.vision_img_3{
    position: absolute;
    top: 621px;
    left: 300px;
}
.vision_card_content{
    width: 450px;
    position: absolute;
    top: 320px;
    right: 9%;
}
.vision_img_4{
    position: absolute;
    top: 250px;
    right: 0;
}
/* About (JUNE) */
.about{
    height: 700px;
    /* background-color:wheat; */
    font-family: 'Karla', sans-serif;
}
.about_main{
    position: relative;
}
.about_img_4{
    position: absolute;
    top: 100px;
    right: 0;
}
.about_img_1{
    position: absolute;
    top: 30px;
    right: 0;
}
.about_img_2{
    position: absolute;
    top: 55px;
    right: 250px;
    z-index: 1;
}
.about_img_3{
    position: absolute;
    top: 100px;
    right: 800px;
}
.about_card{
    width: 801px;
    height: 430px;
    background-color: #EC008C;
    position: absolute;
    top: 170px;
    right: 65px;
}
.about_card_content{
    width: 450px;
    position: absolute;
    top: 300px;
    left: 9%;
}
.about_img_5{
    position: absolute;
    top: 600px;
    right: 320px;
}


/* Works (NAYTHAN) */
.works{
    height: 700px;
    font-family: 'Karla', sans-serif;
}
.vision_main{

    position: relative;
}
.works_img_1{
    position: absolute;
    top: 150px;
    left: 0;
}
.vision_img_2{
    position: absolute;
    left: 801px;
    top: 154px;
}
.vision_img_3{
    position: absolute;
    top: 621px;
    left: 300px;
}
.vision_card_content{
    width: 450px;
    position: absolute;
    top: 320px;
    right: 9%;
}
.vision_img_4{
    position: absolute;
    top: 250px;
    right: 0;
}

.works_card{
    width: 801px;
    height: 395px;
    background-color:#FFF200;
    position: absolute;
    top: 226px;
    left: 65px;
    z-index: -1;
}

/* Works Grid (NAYTHAN) */
.grid{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: flex-end;
   align-content: stretch;

   background-color: yellow;
    background-repeat: no-repeat; 
   background-size: cover; 
   background-image: url("../images/works/7-01.png");
   background-repeat: no-repeat;
   background-size: 1920px auto;
   width: auto;
   height: auto;
}

.cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;


   background-image: url("../images/works/6.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center top;
   width: 100%;
   max-width: 600px;
   height: auto;
   border-radius: 50px;
   margin: 100px;
   padding: 70px 0px 0px 0px;
}

.content{
 
   width: 100%;
   border-radius: 50px;
   text-align: center;
}

.content h2{
   font-size: 28px;
   font-weight: bold;
   line-height: 2;
   font-family: 'Karla', sans-serif;
}

.content h3{
   font-size: 20px;
   font-family: 'Karla', sans-serif;
}

.grid .cont .content img {
 width: 100%;  
 border-top-left-radius: 50px;
 border-top-right-radius: 50px;
}


@media (max-width: 575.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: orange;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

     /* .grid .cont .content img {
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
       } */

    
       
 }
@media (max-width: 767.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }
/* 
     .grid .cont .content img {
        width: 90%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */

 }
@media (max-width: 991.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }
/* 
     .grid .cont .content img {
        width: 75%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */

 }
@media (max-width: 1199.98px) { 
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
       background-color: yellow;
        background-repeat: no-repeat; 
       background-size: cover; 
       background-image: url("../images/works/7-01.png");
       background-repeat: no-repeat;
       background-size: 1920px auto;
       width: auto;
       height: 2000px;
    }

    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
     
        /* background-color: grey; */
        /* background-image: url("../images/works/6.png"); */
        background-repeat: no-repeat;
        background-size: 600px 550px;
        width: 100%;
        height: 500px;
        border-radius: 50px;
        margin: 50px;
     }

     /* .grid .cont .content img {
        width: 50%;  
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      } */
 }
