*{
    margin: 0;
    padding: 0;
}

/* navigation (KEVIN)*/
.top-nav .navbar {
    height: 114px;
    position: relative;
  }
  
  .top-nav .navbar .navbar-brand .nav-logo {
    width: 300px;
    height: 114px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px 0px 9px 16px;
  }
  
  .top-nav .navbar .collapse .navbar-nav {
    position: absolute;
    right: 0px;
    padding: 0px 31px 0px 0px;
  }
  
  .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #707070;
    font-size: 30px;
    padding: 0px 65px 0px 0px;
  }

/* main visual (KEVIN)*/
.main-visual .masthead {
    height: 981px;
    background-image: url(../images/main_visual/intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .main-visual .masthead .container .row {
    position: absolute;
    text-align-last: start;
    padding: 0px;
    margin: 0px;
    top: -30px;
    left: 71px;
  }
  
  .main-visual .masthead .container .row .header-h1 {
    font-weight: bolder;
    font-size: 90px;
    line-height: 90%;
  }
  
  .main-visual .masthead .container .row .lead {
    font-weight: bolder;
    font-size: 25px;
    line-height: 90%;
  }

/* news */


/* vision (JUNE) */
.vision{
    height: 700px;
    background-color:white;
    z-index: -2;
    font-family: 'Karla', sans-serif;
}
.vision_main{
    position: relative;
}
.vision_img_1{
    position: absolute;
    top: 150px;
    z-index: 1;
}
.vision_card{
    width: 801px;
    height: 395px;
    background-color: #00AEEF;
    position: absolute;
    top: 226px;
    left: 65px;
}
.vision_img_2{
    position: absolute;
    left: 801px;
    top: 154px;
}
.vision_img_3{
    position: absolute;
    top: 621px;
    left: 300px;
}
.vision_card_content{
    width: 450px;
    position: absolute;
    top: 320px;
    right: 9%;
}
.vision_img_4{
    position: absolute;
    top: 250px;
    right: 0;
}
/* About (JUNE) */
.about{
    height: 700px;
    /* background-color:wheat; */
    font-family: 'Karla', sans-serif;
}
.about_main{
    position: relative;
}
.about_img_4{
    position: absolute;
    top: 100px;
    right: 0;
}
.about_img_1{
    position: absolute;
    top: 30px;
    right: 0;
}
.about_img_2{
    position: absolute;
    top: 55px;
    right: 250px;
    z-index: 1;
}
.about_img_3{
    position: absolute;
    top: 100px;
    right: 800px;
}
.about_card{
    width: 801px;
    height: 430px;
    background-color: #EC008C;
    position: absolute;
    top: 170px;
    right: 65px;
}
.about_card_content{
    width: 450px;
    position: absolute;
    top: 300px;
    left: 9%;
}
.about_img_5{
    position: absolute;
    top: 600px;
    right: 320px;
}
/* Works (NAYTHAN) */


/* Works Grid (NAYTHAN) */


/* Contact (BEV) */

#contact {
    margin: 0;
    padding: 50px;
}

#contact .form-control{
    border-radius: 0;
    border:1px solid #cecece;
}

#contact .row{
    margin-bottom: 0px;
}

#contact .col-maps {
    padding: 30px 30px 30px 0px;
}

#contact .contact-addr {
    color: #000000;
    font-size: 22px;
}

#contact .form-title {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}


#contact btn .btn-pimary {
    color: blueviolet;
}

@media (max-width: 575.98px) {

    #contact{padding-bottom: 800px;}
    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 576px) {

    #contact{padding-bottom: 800px;}
 
    #contact .maps iframe{
      width: 100%;
      height: 450px;
    }
}

@media (min-width: 768px) {

    #contact{padding-bottom: 350px;}
  
    #contatti .maps iframe{
      width: 100%;
      height: 850px;
    }
}

@media (min-width: 992px) {
    #contact{padding-bottom: 50px;}
  
     #contact .maps iframe{
       width: 100%;
       height: 700px;
     }
}


/* Footer (BEV) */
footer {
    background-color: #00AEEF;
    padding: 10px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

footer .footer-copyright {
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
}

footer h6 a{
    color: #ffffff;
}