*{
    margin: 0;
    padding: 0;
}

/* navigation (KEVIN)*/


/* main visual (KEVIN)*/


/* news */


/* vision (JUNE) */


/* About (JUNE) */


/* Works (NAYTHAN) */


/* Works Grid (NAYTHAN) */


/* Contact (BEV) */

#contact {
    font-family: 'Karla', sans-serif;
}

#contact .col-maps {
    padding: 30px 30px 30px 0px;
}

#contact .contact-addr {
    color: #000000;
    font-size: 22px;
}

#contact .form-title {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

/* Footer (BEV) */
footer {
    background-color: #00AEEF;
    padding: 10px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

footer .footer-copyright {
    color: #ffffff; /* Fallback for older browsers */
    color: rgba(255,255,255, 0.6);
}

footer h6 a{
    color: #ffffff;
}